### Analyze features of Democrat and Republican Voters

In [140]:
import pandas as pd

In [141]:
pd.set_option('display.max_columns', None)

# Import datasets & keep selected features (df)
df = pd.read_csv("edit_summary_stats.csv")
df = df[['year','inctot','mortamt1','ftotinc','marst_5_freq','marst_6_freq','marst_1_freq','marst_4_freq','marst_3_freq','race_2_freq',
        'race_3_freq','ctz_stat_3_freq','ctz_stat_2_freq','lang_1_freq','lang_2_freq','educ_attain_2.0_freq',
        'educ_attain_3.0_freq','educ_attain_4.0_freq','empstat_1.0_freq','empstat_3.0_freq','empstat_2.0_freq','winner']]

In [142]:
# Rename columns to actual Description
df = df.rename(columns={'inctot': 'Average Annual Income of Indviduals', 'mortamt1': 'Average amount of mortgage payments',
                           'mortamt1': 'Average amount of mortgage payments', 'mortamt1': 'Average amount of mortgage payments',
                           'ftotinc': 'Average Annual Total Family Income', 'marst_5_freq': '% Widowed',
                           'marst_6_freq': '% Never Married', 'marst_1_freq': '% Married Spouse present',
                           'marst_4_freq': '% Divorced', 'marst_3_freq': '% Seperated',
                           'race_2_freq': '% Black/African American', 'race_3_freq': '% American Indian or Alaska Native',
                           'ctz_stat_3_freq': '% Non-Citizen', 'ctz_stat_2_freq': '% Naturalized Citizen',
                           'lang_1_freq': '% English is spoken at home', 'lang_2_freq': '% Another Language is spoken at home',
                           'educ_attain_2.0_freq': '% Some College or Bachelor Degree', 'educ_attain_3.0_freq': '% Masters or Professional Certificate',
                           'educ_attain_4.0_freq': '% Doctoral Degree', 'empstat_1.0_freq': '% Employed',
                           'empstat_3.0_freq': '% Not in the labor force', 'empstat_2.0_freq': '% Unemployed',})

In [143]:
# fill the NaN with both forward and backward fills
df = df.fillna(method='ffill')
df = df.fillna(method='bfill')

In [144]:
# Analyze 2016 election year census data with selected featuers (average)
year2016 = df.loc[df['year'].isin([2016])]
year2016 = year2016.mean().to_frame().T

In [145]:
# Analyze 2020 election year census data with selected featuers (average)
year2020 = df.loc[df['year'].isin([2020])]
year2020 = year2020.mean().to_frame().T

In [146]:
# Concat average census data of year 2016 and 2020
year_16_20 = pd.concat([year2016,year2020], ignore_index=True)
year_16_20

,year,Average Annual Income of Indviduals,Average amount of mortgage payments,Average Annual Total Family Income,% Widowed,% Never Married,% Married Spouse present,% Divorced,% Seperated,% Black/African American,% American Indian or Alaska Native,% Non-Citizen,% Naturalized Citizen,% English is spoken at home,% Another Language is spoken at home,% Some College or Bachelor Degree,% Masters or Professional Certificate,% Doctoral Degree,% Employed,% Not in the labor force,% Unemployed,winner
0,2016.0,28680.177197,852.284519,58281.261715,6.771757,25.891423,52.260251,11.307531,1.668619,9.520502,0.978243,5.006276,5.624477,85.644979,14.355021,50.279707,9.882218,1.366736,58.081590,38.910042,3.009414,0.554393
1,2020.0,29874.520502,907.670084,62948.617992,6.578243,28.140377,50.490586,11.072594,1.487866,9.398536,1.003975,4.679498,6.057113,85.311297,14.688703,50.743724,10.930544,1.517364,55.355858,41.406904,3.237238,0.493724

In [147]:
delta_16_20 = year_16_20.diff(periods = 1)
year_16_20 = pd.concat([year_16_20,delta_16_20], ignore_index=True)
year_16_20 = year_16_20.dropna()
year_16_20

,year,Average Annual Income of Indviduals,Average amount of mortgage payments,Average Annual Total Family Income,% Widowed,% Never Married,% Married Spouse present,% Divorced,% Seperated,% Black/African American,% American Indian or Alaska Native,% Non-Citizen,% Naturalized Citizen,% English is spoken at home,% Another Language is spoken at home,% Some College or Bachelor Degree,% Masters or Professional Certificate,% Doctoral Degree,% Employed,% Not in the labor force,% Unemployed,winner
0,2016.0,28680.177197,852.284519,58281.261715,6.771757,25.891423,52.260251,11.307531,1.668619,9.520502,0.978243,5.006276,5.624477,85.644979,14.355021,50.279707,9.882218,1.366736,58.081590,38.910042,3.009414,0.554393
1,2020.0,29874.520502,907.670084,62948.617992,6.578243,28.140377,50.490586,11.072594,1.487866,9.398536,1.003975,4.679498,6.057113,85.311297,14.688703,50.743724,10.930544,1.517364,55.355858,41.406904,3.237238,0.493724
3,4.0,1194.343305,55.385565,4667.356276,-0.193515,2.248954,-1.769665,-0.234937,-0.180753,-0.121967,0.025732,-0.326778,0.432636,-0.333682,0.333682,0.464017,1.048326,0.150628,-2.725732,2.496862,0.227824,-0.060669

### Process dataset of 2008, 2012, and 2016 Election Years

In [148]:
# select rows with the years 2008, 2012, 2016 presidential election
df1 = df.loc[df['year'].isin([2008, 2012, 2016])]

# select rows where Democrat won (winner=0) (dfd)
dfd1 = df1.loc[df1['winner'].isin([0])]

# find average values for each features (ignore year and winner) 
d1 = dfd1.mean().to_frame().T

In [149]:
# select rows where Republican won (winner=1) (dfr)
dfr1 = df1.loc[df1['winner'].isin([1])]

# find average values for each features (ignore year and winner) 
r1 = dfr1.mean().to_frame().T

In [150]:
dfdr1 = pd.concat([d1,r1], ignore_index=True)
dfdr1 = dfdr1.drop(['year'], axis=1)

In [151]:
# Find differece between Democrat and Republican
difference1 = dfdr1.diff(periods = -1)

In [152]:
# Concat to build new dataframe
dfdr1 = pd.concat([dfdr1,difference1], ignore_index=True)
dfdr1 = dfdr1.dropna()
dfdr1

,Average Annual Income of Indviduals,Average amount of mortgage payments,Average Annual Total Family Income,% Widowed,% Never Married,% Married Spouse present,% Divorced,% Seperated,% Black/African American,% American Indian or Alaska Native,% Non-Citizen,% Naturalized Citizen,% English is spoken at home,% Another Language is spoken at home,% Some College or Bachelor Degree,% Masters or Professional Certificate,% Doctoral Degree,% Employed,% Not in the labor force,% Unemployed,winner
0,29194.870537,976.493324,58316.484470,6.745138,27.695501,50.634833,10.944412,1.867634,12.094049,0.913498,6.599565,7.094194,81.861974,18.138026,49.668360,10.502177,1.537155,59.794775,36.051524,4.155152,0.0
1,26732.891172,795.248046,54476.265123,7.182779,21.450651,56.289725,11.461216,1.707815,7.109117,1.038784,3.727931,3.466281,89.583647,10.416353,48.768017,7.800579,0.933575,57.932851,38.456006,3.611577,1.0
2,2461.979365,181.245277,3840.219347,-0.437641,6.244849,-5.654892,-0.516803,0.159819,4.984932,-0.125287,2.871634,3.627914,-7.721673,7.721673,0.900343,2.701598,0.603581,1.861924,-2.404482,0.543575,-1.0

### Process dataset of 2020 Election Years

In [153]:
# select rows with the years 2020 presidential election
df2 = df.loc[df['year'].isin([2020])]

In [154]:
# select rows where Democrat won (winner=0) (dfd)
dfd2 = df2.loc[df2['winner'].isin([0])]

# find average values for each features (ignore year and winner) 
d2 = dfd2.mean().to_frame().T

In [155]:
# select rows where Republican won (winner=1) (dfr)
dfr2 = df2.loc[df2['winner'].isin([1])]

# find average values for each features (ignore year and winner) 
r2 = dfr2.mean().to_frame().T

In [156]:
dfdr2 = pd.concat([d2,r2], ignore_index=True)
dfdr2 = dfdr2.drop(['year'], axis=1)

In [157]:
# Find differece between Democrat and Republican
difference2 = dfdr2.diff(periods = -1)

In [158]:
# Concat to build new dataframe
dfdr2 = pd.concat([dfdr2,difference2], ignore_index=True)
dfdr2 = dfdr2.dropna()
dfdr2

,Average Annual Income of Indviduals,Average amount of mortgage payments,Average Annual Total Family Income,% Widowed,% Never Married,% Married Spouse present,% Divorced,% Seperated,% Black/African American,% American Indian or Alaska Native,% Non-Citizen,% Naturalized Citizen,% English is spoken at home,% Another Language is spoken at home,% Some College or Bachelor Degree,% Masters or Professional Certificate,% Doctoral Degree,% Employed,% Not in the labor force,% Unemployed,winner
0,31910.48595,1021.112397,66535.647934,6.085537,31.435950,47.925207,10.692562,1.516116,11.521901,1.040496,6.198347,8.334298,80.785124,19.214876,51.660331,12.882645,1.928926,56.766529,39.638843,3.595041,0.0
1,27786.79322,791.343644,59270.392373,7.083475,24.761017,53.121186,11.462288,1.458898,7.221186,0.966525,3.122034,3.722034,89.952542,10.047458,49.803814,8.928814,1.095339,53.909322,43.219915,2.870339,1.0
2,4123.69273,229.768753,7265.255561,-0.997937,6.674933,-5.195980,-0.769726,0.057217,4.300714,0.073970,3.076313,4.612264,-9.167418,9.167418,1.856517,3.953831,0.833587,2.857207,-3.581072,0.724702,-1.0

In [159]:
dfdr2 = dfdr2.copy()
with pd.ExcelWriter('features_analysis.xlsx') as writer: 
    year_16_20.to_excel(writer, sheet_name='Census Average 2016-2020', index=False)
    dfdr1.to_excel(writer, sheet_name='Election Years 2008-2016', index=False)
    dfdr2.to_excel(writer, sheet_name='Election Years 2020', index=False)